$mobile-min-width: 47.938rem;
$mobile-width: 48rem;
$tablet-min-width: 63.938rem;
$tablet-width: 64rem;

$admin-header-height: 71px;

$secondary-color: #96bd1a;
$primary-color: #ff8e4a;
$primary-color-dark: #f86001;
$third-color: #ee4d2d;
$text-color: #252525;
$sub-text-color: #888888;
$form-background: #f6f6f6;
$page-background: #f6f6f6;
$border-color: #e9e9e9;
